<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Empresa</title>
</head>
<body>
<div class="d-flex col-10">
    <main class="col-md-2 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-3 mb-3 border-bottom">
            <h1 class="h2">Crear Empresa</h1>
            <a href="/logout" class="btn btn-outline-danger px-4 gap-3">Cerrar Sesion</a>
        </div>
        <div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/employee">Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/enterprises">Empresas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movements">Movimientos</a>
                </li>
            </ul>
        </div>
        <form method="post" th:object="${enterprise}" th:action="@{/enterprises}">
            <div class="w-1/2 my-0 mx-auto pt-5 border border-gray-100 shadow-2xl p-5 rounded">
                <div class="flex flex-col">
                    <label for="name" class="w-full font-bold">Nombre :</label>
                    <input id="name"
                           type="text"
                           name="name"
                           required
                           class="px-1 py-2 mb-2 border border-gray-300 focus:border-gray-400 w-full rounded"
                           th:field="*{name}" placeholder="Digite nombre">
                </div>
                <div class="flex flex-col">
                    <label for="NIT" class="w-full font-bold">NIT :</label>
                    <input id="NIT"
                           type="text"
                           name="NIT"
                           required
                           class="px-1 py-2 mb-2 border border-gray-300 focus:border-gray-400 w-full rounded"
                           th:field="*{NIT}" placeholder="Digite El NIT">
                </div>
                <div class="flex flex-col">
                    <label for="phone" class="w-full font-bold">Telefono :</label>
                    <input id="phone"
                           type="text"
                           name="phone"
                           required
                           class="px-1 py-2 mb-2 border border-gray-300 focus:border-gray-400 w-full rounded"
                           th:field="*{phone}" placeholder="Digite nombre">
                </div>
                <div class="flex flex-col">
                    <label for="address" class="w-full font-bold">Direccion :</label>
                    <input id="address"
                           type="text"
                           name="address"
                           required
                           class="px-1 py-2 mb-2 border border-gray-300 focus:border-gray-400 w-full rounded"
                           th:field="*{address}" placeholder="Digite nombre">
                </div>
                <div class="my-2">
                    <button type="submit" class="btn btn-outline-dark focus:outline-none rounded">
                        Crear Empresa
                    </button>
                </div>
            </div>
        </form>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>